<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="layout">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Formulário</title>

    <script>
        function validar() {



            var erroNome = document.getElementById("ErroNome");

            if (document.form.nome.value == "" || document.form.nome.value.length <= 3) {
                erroNome.style = "color:red";
                erroNome.innerHTML = 'preencha corretamente o NOME pfvr';
                form.nome.focus();
                return false;
            }
            else {
                erroNome.innerHTML = '';
            }


            var erroEmail = document.getElementById("ErroEmail");

            if (document.form.email.value == "" || form.email.value.indexOf("@") == -1 || form.email.value.indexOf(".") == -1) {
                erroEmail.style = "color:red";
                erroEmail.innerHTML = 'preencha corretamente o Email pfvr';
                form.email.focus();
                return false;
            }
            else {
                erroEmail.innerHTML = '';
            }



            var erroCpf = document.getElementById("ErroCpf");

            if (document.form.cpf.value == "" || document.form.cpf.value.length < 11 || document.form.cpf.value.length > 11) {
                erroCpf.style = "color: red";
                erroCpf.innerHTML = 'preencha corretamente o CPF pfvr';
                form.cpf.focus();
                return false;
            }
            else {
                erroCpf.innerHTML = '';
            }

            if(document.form.sexo.value==""){
            form.sexo.focus();
            return false;
        }

            var programacaoValidar = document.getElementById('programacao').checked;
            var redeDeCompuradoresValidar = document.getElementById('redes').checked;
            var manuntencaoDeComputadoresValidar = document.getElementById('manutencao').checked;

            var erroAreasDeAtuacaoVazio = document.getElementById("ErroAreasDeAtuacaoVazio");

            if (programacaoValidar == false && redeDeCompuradoresValidar == false && manuntencaoDeComputadoresValidar == false) {
                erroAreasDeAtuacaoVazio.style = "color : red";
                erroAreasDeAtuacaoVazio.innerHTML = 'preencha corretamente';
                return false;
            }
            else {
                erroAreasDeAtuacaoVazio.innerHTML = '';
            }


            var erroSenha = document.getElementById("ErroSenha");
            var erroRepetirSenha = document.getElementById("ErroRepetirSenha");


            if (document.form.senha.value == "" || document.form.senha.value <= 6) {
                erroSenha.style = "color:red";
                erroSenha.innerHTML = 'senha deve ter no minimo 6 digitos';
                return false;
            }
            else {

                if (document.form.senha.value != document.form.repetirSenha.value) {
                    erroRepetirSenha.style = "color:red";
                    erroRepetirSenha.innerHTML = 'Repita a senha corretamente';
                    return false;
                }
                else {
                    erroRepetirSenha.innerHTML = '';
                }
                erroSenha.innerHTML = '';
            }
        }
    </script>

</head>

<body>

    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand">
            <h2 style="text-align:center; color: white;">FORMULÁRIO DE CADASTRO</h2>
        </a>
    </nav>
    <br>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col col-lg-7">
                <br>
                <form name="form" method="POST" action="/cadastrar_aluno">
                    <div class="form-group row">
 <div class="form-group row">
                        <input type="hidden" name="id" th:value="${aluno.id}">
                    </div>
                        <label for="inputEmail3" class="col-sm-2 col-form-label">NOME:</label>
                        <div class="col-sm-10">
                               <input type="text" class="form-control" id="nome" name="nome" th:value="${aluno.nome}"
                                placeholder="Ex: josé"><span id="ErroNome"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">E-MAIL:</label>
                        <div class="col-sm-10">
                           <input type="email" class="form-control" id="email" name="email" th:value="${aluno.email}"
                            placeholder="Ex: josé@hotmail.com"><span id="ErroEmail"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">CPF:</label>
                        <div class="col-sm-10">
                           <input type="text" class="form-control" id="cpf" name="cpf" th:value="${aluno.cpf}"
                            placeholder="Ex: 00000000000"><span id="ErroCpf"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">SEXO:</label>
                        <div class="col-sm-4">
                            <select id="campoSexo" class="form-control" name=sexo>
                                <option value="" selected>Selecione</option>
                                <option id="masculino" value="M" th:selected="${aluno.sexo=='M'}">Masculino</option>
                                <option id="feminino" value="F" th:selected="${aluno.sexo=='F'}"> Feminino</option>
                            </select>
                        </div>
                    </div>

                    <fieldset class="form-group">
                        <div class="row">
                            <legend class="col-form-label col-sm-2 pt-0">MODÚLO:</legend>
                            <div class="col-sm-10">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="modulo" id="primeiro"
                                        value="primeiro" checked>primeiro
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="modulo" id="segundo"
                                        value="segundo">segundo
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="modulo" id="terceiro"
                                        value="terceiro">terceiro
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <div class="form-group row">
                        <div class="col-sm-2">ÁREAS DE ATUAÇÃO</div>
                        <div class="col-sm-10">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="programacao" value="Programação"
                                name="areas" th:checked = "${aluno.areas != null ? #arrays.contains(aluno.areas, 'Programação') : false}">Programação
                                <br>
                               <input class="form-check-input" type="checkbox" id="redes" value="Redes de Computadores"
                                    name="areas" th:checked = "${aluno.areas != null ? #arrays.contains(aluno.areas, 'Redes de Computadores') : false}">Redes de Computadores
                                <br>
                                 <input class="form-check-input" type="checkbox" id="manutencao"
                                value="Manutenção de Computadores" name="areas" th:checked = "${aluno.areas != null ? #arrays.contains(aluno.areas, 'Manutenção de Computadores') : false}">Manutenção de Computadores
                                <span id="ErroAreasDeAtuacaoVazio"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-2 col-form-label">SENHA:</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="senha" name="senha"
                                placeholder="Ex: ******">
                            <span id="ErroSenha"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-2 col-form-label">REPETIR SENHA:</label>
                        <div class="col-sm-10">
                            </p>
                            <input type="password" class="form-control" id="repetirSenha" name="repetirSenha"
                                placeholder="Ex: ******">
                            <span id="ErroRepetirSenha"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary" id="gravar" value="Gravar"
                                onclick="return validar();">Gravar</button>
                          </div>
                    </div>
                </form>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>

</html>
